.sper{
    
    width: 250px;
    height: 220px;
    border:10px solid green;
    margin-left: 300px;
    margin: 50px 200px;
    padding: 20px;
   
} 
.me{
  
    width: 160px;
    height: 175px;
    border: 10px solid green ;
    padding: 5% 5% 5% 5%;
    margin-top: 30px 40px;
    margin-right: 200px;
    right: 20px;
}
.you{
 width: 90px;
 height: 110px;
 border: 10px solid green;
 position:center; 
 padding:5% 5% 5% 5%;
 margin: 20px 20px 20px 20px;
 right:50px;
 margin-right: 50px;
 text-align:center
}

